<nz-tabset>
    <nz-tab nzTitle="3 Days">
        <ng-template nz-tab>
            <h3>3 Days</h3>
            <app-wind-speed-chart [stationList]="data"></app-wind-speed-chart>
            <app-temp-chart [stationList]="data"></app-temp-chart>
            <app-wind-direction-chart [stationList]="data"></app-wind-direction-chart>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="14 Days">
        <ng-template nz-tab>
            <h3>14 Days</h3>
        </ng-template>
    </nz-tab>
</nz-tabset>
